{%extends "base.html"%}
{%block title%}Action Items{%endblock%}

{%block content%} 
<section class="Header mb-6">
    <div class="container">
        <div class="columns is-centered">
            <h1 class="is-size-2">ACTION ITEMS</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>RO Number</th>
                    <th>Action Item</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>  
    </div>
</section>
{%endblock%}