<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <section class="section">
        <div class="container">
          <nav class="navbar" role="navigation" aria-label="main navigation">
          
            <div id="vaNavbar" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/">
                  <span class="icon-text">
                    <span class="icon">
                      <box-icon color='white' name='home-smile'></box-icon>
                    </span>
                    <span>Home</span>
                  </span>
                </a>
                
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    <span class="icon-text">
                      <span class="icon">
                        <box-icon color='white' name='phone'></box-icon>
                      </span>
                      <span>Call Tools</span>
                    </span>
                  </a>
          
                  <div class="navbar-dropdown">
                    <a class="navbar-item" href="/customerscript">
                      Customer Script
                    </a>
                    <a class="navbar-item" href="/warrantyscript">
                      Warranty/Insurance Script
                    </a>
                    <a class="navbar-item" href="partscript">
                      Ordering Parts Script
                    </a>
                  </div>
                </div>
          
                <a class="navbar-item" href="/dailytask">
                  <span class="icon-text">
                    <span class="icon">
                      <box-icon color='white' name='list-check' ></box-icon>
                    </span>
                    <span>Daily Tasks</span>
                  </span>
                </a>

                <a class="navbar-item" href="/actionitems">
                  <span class="icon-text">
                    <span class="icon">
                      <box-icon color='white' name='list-check' ></box-icon>
                    </span>
                    <span>Daily Action Items</span>
                  </span>
                </a>
  
                <a class="navbar-item" href="/roreview">
                  <span class="icon-text">
                    <span class="icon">
                      <box-icon color='white' name='checkbox-checked' ></box-icon>
                    </span>
                    <span>Repair Order Review</span>
                  </span>
                </a>
                
              </div>
          
            </div>
          </nav>
        </div>
      </section>
    {%block content%}
    {%endblock%}
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>