{%extends "base.html"%}
{%block title%}Customer Script{%endblock%}

{%block content%}
<section class="Header mb-6">
    <div class="container">
        <div class="columns is-centered">
            <h1 class="is-size-2">CUSTOMER SCRIPT</h1>
        </div>  
    </div>
  </section>
  <section class="aamco-script">
      <div class="container">
        <div class="fixed-grid">
          <div class="grid">
            <div class="cell">
              <div class="field">
                <label class="label">Thank you for calling AAMCO, Joseph speaking. How can we help you?</label>
                <div class="control">
                  <textarea class="textarea" placeholder="the stuff the customer says"></textarea>
                </div>
              </div>
              <div class="field">
                <label class="label">I'll be glad to help you with that. May I ask who's calling?/ Can I have your full name? </label>
                <div class="control">
                  <input class="input" type="text" placeholder="Full Name">
                </div>
              </div>
              <div class="field">
                <label class="label">What's the year make and model of the vehicle?</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Vehicle Details">
                </div>
              </div>
              <div class="field">
                <label class="label">How long has this been happening?</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Text input">
                </div>
              </div>
              <div class="field">
                <label class="label">Has any work been done on the vehicle recently?</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Text input">
                </div>
              </div>
              
              
              <div class="field">
                <label class="label">Based on what you told me, I recommend you bring your vehicle in for AAMCO's free vehicle courtesy check.
                  This includes doing a visual inspection, connecting our scanner to get live data feedback, and if applicable roadtest your
                  vehicle. This check will help us identify the cause of the problem and what is required to fix the vehicle. Our goal is 
                  to keep your cost to a minimum. Again, there is no charge for this service. Do you want to bring it now or would ___ be better for you?
                </label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="question">
                    Yes
                  </label>
                  <label class="radio">
                    <input type="radio" name="question">
                    No
                  </label>
                </div>
              </div>
        
              <div class="block">
                <label class="label">We are located at 211 West Southern Avenue, in Tempe Arizona. Do you know how to get there?</label>
              </div>
        
              <div class="field">
                <label class="label">And the best phone number to reach you?</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Text input">
                </div>
              </div>
              
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-link is-light">Cancel</button>
                </div>
              </div>
            </div>
  
            <div class="cell">
              <div class="block">
                <label class="label">If the customer asks for a quote before you can get information say: </label>
                <p>Let me just get a bit more information and I should be able to answer all your questions.</p>
              </div>
              <div class="block">
                <label class="label">If the customer denies after mentioning the VCC or just really wants an estimate/quote:</label>
                <p>My manager is still on the line with another customer. Can we give you a call back in 30 minutes? Is this a good number for you?</p>
              </div>
        
            </div>
          </div>
        </div>
        
      </div>
    </section>
{%endblock%}